.selected
{
  border-color: #2e6da4;
  border-width: 3px;
  text-decoration: blink;
}

.unselected
{
  border-width: 3px;
}

a:hover
{
  text-decoration: blink;
}

a:active
{
  text-decoration: blink;
}

a:visited
{
  text-decoration: none;
}

a:link
{
  text-decoration: none;
}
