* {
	font-family: monospace;
}

top {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url(image/vaca.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

nav {
  text-align: center;
  font-size: large;
  margin-bottom: 50px; 
}

content {
  text-align: center;
  display: block;
  min-height: 650px;
  margin: 0 2%;
}

content ul {
  list-style: none;
  padding: inherit;
}
