<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <link href="{{bootstrap_css}}" rel="stylesheet">
  <link href="{{css}}" rel="stylesheet">

  <script src="{{jquery_js}}"></script>
  <script src="{{bootstrap_js}}"></script>
  <script src="{{raphael_js}}"></script>
  <script src="{{morris_js}}"></script>
  <script src="{{result_js}}"></script>
</head>

<body>

<div class="container">

  {% include '_nav.html' %}

  <h3 class="text-center">RESULTADO <b>PARCIAL</b> DA VOTAÇÃO</h3>

  <div class="row center-block">
    <div class="col-xs-3"></div>
    <div class="col-xs-6"> <div id="donut"> </div> </div>
    <div class="col-xs-3"></div>
  </div> <!-- row -->

  <button id="vote" class="btn btn-primary btn-sm center-block" type="button">Vote novamente!</button>

</div> <!-- container -->

</body>

</html>
